@import "../../../styles//variables.scss";

.theme-selector {
  border: 3px solid #000000;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;

  cursor: pointer;
}

:global(body.dark) .theme-selector {
  border: 3px solid $white;
}
